DATABASE_URL=your_database_url_here
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here
UPLOADTHING_SECRET=your_uploadthing_secret_here
LIVEKIT_API_KEY=your_livekit_api_key_here
LIVEKIT_SECRET=your_livekit_secret_here
NOTIFICATION_SOUND_URL=/sounds/notification.mp3